# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/

# Database
*.db

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Antigravity
.antigravityignore

# Docs (local only)
task.md
walkthrough.md
نیاز ها.txt
DEPLOY.md
